html
  body
    script.
      (function () {
        var user = localStorage.getItem("user");
        if (user) {
            location.href = '/app';
            return;
        }
      })();
    a(href="/auth/instagram") Login
